Allow from all

AcceptPathInfo On

RewriteEngine On

# Avoid TRACE and TRACK method to prevent "Cross-Site-Tracing"
RewriteCond %{REQUEST_METHOD} ^TRAC
RewriteRule .? - [NS,F]

# Rewrite rule for friendly URLs
RewriteCond $0 ^index\.php          [OR]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule .* index.php            [E=PERDIR_PATH_INFO:/$0]

# Here is an other way to get friendly URLs
#<Files bootstrap_file_here>
#ForceType application/x-httpd-php
#</Files>

# And a third way to get friendly URLs
# http://httpd.apache.org/docs/2.0/fr/content-negotiation.html#multiviews
#Options +Multiviews
#MultiviewsMatch Handlers Filters


# Uncomment to enable PHP5 on free.fr
#php 1

# Uncomment to enable PHP5 on OVH
#SetEnv PHP_VER 5

# Some common env vars
SetEnv REGISTER_GLOBALS 0
SetEnv ZEND_OPTIMIZER 1
SetEnv MAGIC_QUOTES 0

# Edit this to your default timezone
php_value date.timezone "Universal"

php_flag magic_quotes_gpc Off
php_flag register_globals Off
php_flag register_long_arrays Off
php_flag register_argc_argv Off
php_flag auto_globals_jit On

php_flag session.auto_start Off

# Tuning of mbstring
php_value mbstring.func_overload 0
php_value mbstring.language "neutral"
php_value mbstring.substitute_character "none"
php_flag  mbstring.encoding_translation Off
php_value mbstring.http_input "pass"
php_value mbstring.http_output "pass"

# More tuning, for performance, but only if the current
# directory contains only applications that can handle it.
#php_flag  mbstring.encoding_translation On
#php_value mbstring.http_input "UTF-8"

#php_value iconv.input_encoding    "UTF-8//IGNORE"
#php_value iconv.internal_encoding "UTF-8//IGNORE"
#php_value iconv.output_encoding   "UTF-8//IGNORE"
