AcceptPathInfo On

# Here is a first way to get friendly URLs
#<Files bootstrap_file_here>
#	ForceType application/x-httpd-php
#	Allow from all
#</Files>

# A second way to get friendly URLs
# http://httpd.apache.org/docs/2.0/fr/content-negotiation.html#multiviews
#Options +Multiviews
#MultiviewsMatch Handlers Filters

# And a third way to get friendly URLs
<IfModule mod_rewrite.c>
	Allow from all
	RewriteEngine On

	<Files index>
		Options -Multiviews
	</Files>

	# Avoid TRACE and TRACK method to prevent "Cross-Site-Tracing"
	RewriteCond %{REQUEST_METHOD} ^TRAC
	RewriteRule .? - [NS,F]

	# Uncomment to enable the web server to deliver files in the current directory.
	# For security reason this is not advised if you don't know what you are doing.
	#RewriteRule ^index\.php(/.*)?$ - [S=1]
	#RewriteCond %{REQUEST_FILENAME} -f [OR]
	#RewriteCond %{REQUEST_FILENAME} -d [OR]
	#RewriteCond %{REQUEST_FILENAME} -l
	#RewriteRule .+ - [S=1]

	RewriteCond %{ENV:PATCHWORK_REQUEST} ^$
	RewriteRule .* index.php [E=PATCHWORK_REQUEST:/$0]
</IfModule>

<IfModule !mod_rewrite.c>
	# By default, deny access to any file except the web bootstrapper
	Deny from all

	<Files index.php>
		Allow from all
	</Files>
	<Files index>
		Allow from all
	</Files>
	<Files "">
		Allow from all
	</Files>
</IfModule>


# Edit this to your default timezone. See http://php.net/timezones
#php_value date.timezone "Universal"

# Uncomment to enable PHP5 on free.fr
#php 1

# Uncomment to enable PHP5 on OVH
#SetEnv PHP_VER 5

# You should really consider mod_xsendfile
<IfModule mod_xsendfile.c>
	SetEnv PATCHWORK_XSENDFILE 1
	XSendFile On
	XSendFileAllowAbove On
</IfModule>

# Some common env vars
SetEnv REGISTER_GLOBALS 0
SetEnv ZEND_OPTIMIZER 1
SetEnv MAGIC_QUOTES 0

php_flag display_errors Off
php_flag magic_quotes_gpc Off
php_flag register_globals Off
php_flag register_long_arrays Off
php_flag register_argc_argv Off
php_flag auto_globals_jit On

php_flag session.auto_start Off

# Tuning of mbstring
php_value mbstring.func_overload 0
php_value mbstring.language "neutral"
php_value mbstring.substitute_character "none"
php_flag  mbstring.encoding_translation Off
php_value mbstring.http_input "pass"
php_value mbstring.http_output "pass"

# Tune this if you have problems uploading large files
# General rule is:
# - upload_max_filesize = the size of the largest file you want to accept
# - post_max_size >= 2 x upload_max_filesize
# - memory_limit  > post_max_size
#php_value upload_max_filesize "32M"
#php_value post_max_size "64M"
#php_value memory_limit  "128M"

# More tuning, for performance, but only if the current
# directory contains only applications that can handle it.
#php_flag  mbstring.encoding_translation On
#php_value mbstring.http_input "UTF-8"

#php_value iconv.input_encoding    "UTF-8//IGNORE"
#php_value iconv.internal_encoding "UTF-8//IGNORE"
#php_value iconv.output_encoding   "UTF-8//IGNORE"
