body
{
    margin: 0;
    padding: 0;
    background-color: white;
}

br /* Hide Chrome inserted BR */
{
    display: none;
}

.event
{
    color: gray;
    font-size: 11px;
    font-style: italic;
    white-space: pre;
}

.array-compact
{
    white-space: nowrap; /* This rule makes IE slow as hell */
}

a,
.arrow,
.const,
.class,
.alias,
.handle,
.string
{
    color: black;
    font-style: normal;
    font-family: sans-serif;
}

a
{
    color: blue;
    cursor: pointer;
    text-decoration: none;
}

.const
{
    color: blue;
}

.string
{
    color: purple;
    background-color: #F9F9F9;
}

.empty.string
{
    width: 3px;
    height: 1em;
    display: inline-block;
}

.key
{
    font-family: monospace;
    background-color: white;
}

.public
{
    color: green;
}

.protected
{
    color: orange;
}

.private
{
    color: red;
}

.arrow
{
    color: gray;
    background-color: white;
}

.event.silenced>.array-compact span
{
    color: silver;
    background-color: white;
}

.array-compact .key
{
    display: none;
}

.key.string,
.array-expanded>.array-compact>a
{
    display: inline;
}

.array-compact .array-compact>a,
.array-compact .array-expanded>a
{
    display: none;
}
