body
{
    margin: 0;
    padding: 0;
}

acronym
{
    width: 50px;
    text-align: right;
    float: left;
    clear: both;
    text-decoration: none;
    border-bottom: 0;
    font-style: italic;
    color: silver;
}

.event
{
    font-size: 11px;
    white-space: nowrap;
}

.event.silenced .array-compact span
{
    color: silver;
    background-color: transparent;
}

.event a
{
    color: blue;
    cursor: pointer;
    text-decoration: none;
}

#events,
.array-compact .key,
.array-compact .arrow
{
    display: none;
}

.string.key,
.string.key+.arrow
{
    display: inline !important;
}

.array-expanded
{
    white-space: pre;
}

.array-compact,
.array-compact .array-expanded
{
    white-space: nowrap;
}

.array-expanded>.array-compact>a
{
    display: inline;
}

.array-compact br, /* Hide chrome inserted BRs */
.array-compact .array-compact>a,
.array-compact .array-expanded>a
{
    display: none;
}

.indent,
.key
{
    font-family: monospace;
}

.const
{
    color: blue;
}

.string
{
    color: purple;
    background-color: #F9F9F9;
}

.string.empty:after
{
    display: inline-block;
    width: 2px;
    height: 1em;
    content: " ";
}

.lf,
.bracket,
.arrow,
.ref
{
    color: gray;
    font-style: italic;
}

.key
{
    background-color: transparent;
}

.public
{
    color: green;
}

.protected
{
    color: orange;
}

.private
{
    color: red;
}

.array-expanded>.lf
{
    visibility: hidden;
}

.array-compact .lf
{
    visibility: visible;
}
