table
{
	background-color: silver;
}

td, th, body
{
	font-size: 11px;
	font-family: Verdana;
	white-space: nowrap;
	background-color: white;
}

#HeditDiv
{
	position: absolute;
	visibility: hidden;
	border: 1px solid red;
	background-color: white;
}

#HeditDiv textarea
{
	border: 0px solid;
}

body
{
	text-align: left;
	margin: 0px;
}
