.QSstyle
{
	white-space:nowrap;
}

.QSstyle input, .QSstyle img
{
	position:relative;
	vertical-align:text-bottom;
	top:2px;
}

.QSstyle input
{
	border:1px solid #769CCB;
	height:22px;
	padding-top:2px;
	padding-left:2px;
	padding-right:18px;
	_top:0px;
}

.QSstyle img
{
	margin-left: -17px;
	_top:-1px;
}
